<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h2>
        <f:translate key="{l10n}section.typoscript"/>
    </h2>
    <br>
    <p>
        <f:translate key="{l10n}typoscript.detail.description"/>
    </p>
    <br>
    <f:form id="detail-element-{element.uid}-form" action="submit" controller="Typoscript" method="post" enctype="multipart/form-data" name="element" object="{element}">

        <div class="d-flex flex-row">
            <f:link.action action="index" controller="Typoscript" extensionName="DbRector" class="btn btn-default" style="margin-right: 1rem;">
                <f:translate key="{l10n}typoscript.detail.back"/>
            </f:link.action>

            <f:form.button class="btn btn-primary">
                <f:translate key="{l10n}typoscript.button.submit"/>
            </f:form.button>
        </div>

        <div class="container-fluid  mt-4">
            <div class="row">
                <div class="col border border-bottom-0 py-3">
                    <h3 class="mb-3">
                        <f:translate key="{l10n}typoscript.detail.info"/>
                    </h3>
                    <ul>
                        <li>
                            <f:translate key="{l10n}typoscript.originUid"/>
                            : {element.originUid}
                        </li>
                        <li>
                            <f:translate key="{l10n}typoscript.originPid"/>
                            : {element.originPid}
                        </li>
                        <li>
                            <f:translate key="{l10n}typoscript.originTitle"/>
                            : {element.originTitle}
                        </li>
                    </ul>
                </div>
                <div class="col border border-bottom-0 border-start-0 py-3">
                    <h3 class="mb-3">
                        <f:translate key="{l10n}typoscript.detail.states"/>
                    </h3>
                    <div class="form-check">
                        <f:form.checkbox property="processed" class="form-check-input" id="processed" value="{element.processed}" checked="{f:if(condition:element.processed, then:'checked')}"/>
                        <label class="form-check-label" for="processed">
                            <f:translate key="{l10n}typoscript.processed"/>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="applied">
                            <f:translate key="{l10n}typoscript.applied"/>
                        </label>
                        <f:form.checkbox property="applied" class="form-check-input" id="applied" value="{element.applied}" checked="{f:if(condition:element.applied, then:'checked')}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border py-3">
                    <h3 class="mb-3">
                        <f:translate key="{l10n}typoscript.originTyposcript"/>
                    </h3>

                    <style>
                        .code-diff {
                            color: black;
                        }
                    </style>

                    <code class="code-diff">
                        <f:format.nl2br>{element.originTyposcript}</f:format.nl2br>
                    </code>
                </div>
                <div class="col border border-start-0 py-3">
                    <div class="d-flex flex-column" style="height:100%;">
                        <h3 id="processed-typoscript-label" class="mb-3">
                            <f:translate key="{l10n}typoscript.processedTyposcript"/>
                        </h3>

                        <f:form.textarea property="processedTyposcript" value="{element.processedTyposcript}" class="form-control flex-grow-1" id="processed-typosscript" aria="{labelledby:'processed-typoscript-label'}"/>
                    </div>
                </div>
            </div>
        </div>
    </f:form>

    <f:if condition="{diff}">
    <strong>Diff-View ToDos</strong>
        <ul>
            <li>l10n</li>
            <li>styling</li>
        </ul>

        <div class="db-rector__header diff-view">
            <div class="db-rector__header-title">DIFF VIEW</div>
            <div class="db-rector__header-actions">
                <button type="button" class="btn btn-sm btn-default" title="xxx" aria-label="yyy" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#db-rector_diff-view">
                    <core:icon identifier="actions-view-list-expand" size="small" />
                </button>
            </div>
        </div>

        <div class="collapse" id="db-rector_diff-view">
            <h3><f:translate key="{l10n}typoscript.diff"/></h3>

            <style>
                del {
                    text-decoration: none;
                    color: red;
                }

                ins {
                    color: green;
                }
            </style>
            <code class="diff-view__code">
                <f:format.raw>{diff}</f:format.raw>
            </code>
        </div>
    </f:if>

</f:section>

</html>