<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">

    <f:if condition="{element.processed}">
        <f:form class="db-rector__mt" id="detail-element-{element.uid}-form" action="submit" controller="Typoscript" method="post" enctype="multipart/form-data" name="element" object="{element}">
            <label for="processed-typosscript" class="db-rector__label"><h2><f:translate key="{l10n}typoscript.processedTyposcript"/></h2></label>

            <div id="processed-typosscript_description" class="db-rector__mt">
                <f:translate key="{l10n}typoscript.detail.info" arguments="{0:element.originUid,1:element.originTitle,2:element.originPid}"/><br>
                <f:translate key="{l10n}typoscript.detail.description"/>
            </div>

            <f:form.textarea property="processedTyposcript" value="{element.processedTyposcript}" class="db-rector__textarea db-rector__mt" id="processed-typosscript" aria="{describedby:'processed-typosscript_description'}"/>
        </f:form>
    </f:if>

    <div class="d-flex flex-row db-rector__mt">
        <f:if condition="{element.processed}">
            <f:form.button class="btn btn-primary" form="detail-element-{element.uid}-form">
                <f:translate key="{l10n}typoscript.button.submit"/>
            </f:form.button>
        </f:if>

        <f:link.action action="index" controller="Typoscript" extensionName="DbRector" class="btn btn-default db-rector__cta">
            <f:translate key="{l10n}typoscript.detail.back"/>
        </f:link.action>
    </div>

    <div class="db-rector__accordion">
        <div class="db-rector__accordion__header">
            <div class="db-rector__accordion__header-title"><f:translate key="{l10n}typoscript.originTyposcript"/></div>
            <button type="button" class="btn btn-sm btn-default db-rector__accordion__collapse" title="{f:translate(key:'{l10n}typoscript.detail.origin.collapse')}" aria-label="{f:translate(key:'{l10n}typoscript.detail.origin.collapse')}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#db-rector_origin">
                <core:icon identifier="actions-view-list-collapse" size="small" />
            </button>
        </div>

        <div class="db-rector__accordion__body collapse" id="db-rector_origin">
            <code class="db-rector__code">
                <f:format.nl2br>{element.originTyposcript}</f:format.nl2br>
            </code>
        </div>
    </div>

    <f:if condition="{diff}">
        <div class="db-rector__accordion">
            <div class="db-rector__accordion__header diff-view">
                <div class="db-rector__accordion__header-title"><f:translate key="{l10n}typoscript.detail.diffView.header"/></div>
                <button type="button" class="btn btn-sm btn-default db-rector__accordion__collapse" title="{f:translate(key:'{l10n}typoscript.detail.diffView.collapse')}" aria-label="{f:translate(key:'{l10n}typoscript.detail.diffView.collapse')}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#db-rector_diff-view">
                    <core:icon identifier="actions-view-list-collapse" size="small" />
                </button>
            </div>

            <div class="db-rector__accordion__body collapse" id="db-rector_diff-view">
                <code class="db-rector__code">
                    <f:format.raw>{diff}</f:format.raw>
                </code>
            </div>
        </div>
    </f:if>

</f:section>

</html>