<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h2><f:translate key="{l10n}section.typoscript" /></h2>
    <br>
    <div class="table-fit">
        <table data-table="sys_template" class="table table-striped table-hover">
            <thead>
            <tr data-uid="0" data-multi-record-selection-element="true">
                <th class="col-checkbox">
                    <div class="btn-group dropdown">
                        <button type="button" class="dropdown-toggle dropdown-toggle-link t3js-multi-record-selection-check-actions-toggle" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
                            <core:icon identifier="actions-selection" size="small" />
                        </button>
                        <ul class="dropdown-menu t3js-multi-record-selection-check-actions">
                            <li>
                                <button type="button" class="dropdown-item disabled" data-multi-record-selection-check-action="check-all" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll')}">
                                    <span class="dropdown-item-columns">
                                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                                            <core:icon identifier="actions-selection-elements-all" size="small" />
                                        </span>
                                        <span class="dropdown-item-column dropdown-item-column-title">
                                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll" />
                                        </span>
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item disabled" data-multi-record-selection-check-action="check-none" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll')}">
                                    <span class="dropdown-item-columns">
                                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                                            <core:icon identifier="actions-selection-elements-none" size="small" />
                                        </span>
                                        <span class="dropdown-item-column dropdown-item-column-title">
                                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll" />
                                        </span>
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item" data-multi-record-selection-check-action="toggle" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection')}">
                                    <span class="dropdown-item-columns">
                                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                                            <core:icon identifier="actions-selection-elements-invert" size="small" />
                                        </span>
                                        <span class="dropdown-item-column dropdown-item-column-title">
                                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection" />
                                        </span>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>Uid</th>
                <th>Title</th>
                <th class="col-control"></th>
            </tr>
            </thead>

            <tbody data-multi-record-selection-row-selection="true">

            <f:for each="{elements}" as="element">
                <tr title="id={element.originUid}" data-uid="{element.originUid}" data-multi-record-selection-element="true">
                    <td class="col-checkbox">
                        <span class="form-check form-check-type-toggle">
                            <input class="form-check-input t3js-multi-record-selection-check" type="checkbox">
                        </span>
                    </td>
                    <td>{element.uid}</td>
                    <td>
                        {element.originInformation.title}
                    </td>
                </tr>
            </f:for>

            </tbody>
        </table>
    </div>
</f:section>

</html>