<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:flashMessages />

<div class="db-rector-be-module">
    <h1><f:translate key="{l10n}mlang_tabs_tab"/></h1>

    <f:if condition="!{contextIsDevelopment}">
        <div class="callout callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="icon-emphasized"><core:icon identifier="actions-exclamation" size="small" /></span>
                </div>
                <div class="media-body">
                    <div class="callout-body">
                        <p><f:translate key="{l10n}no-development"/></p>
                    </div>
                </div>
            </div>
        </div>
    </f:if>

    <f:render section="Content"/>
</div>

</html>