<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h2><f:translate key="{l10n}section.setup" /></h2>
    <br>
    <div class="table-fit">
        <table id="db-rector_setup-check" class="table table-striped table-hover">
            <tr role="row">
                <th scope="row">
                    TYPO3
                </th>
                <td>
                    12.5.2
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    TYPO3-Kontext
                </th>
                <td>
                    Development
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    Composer
                </th>
                <td>
                    false
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    Rector
                </th>
                <td>
                    v0.15.2
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    PHP
                </th>
                <td>
                    8.0
                </td>
            </tr>
        </table>
    </div>
</f:section>

</html>