<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h2><f:translate key="{l10n}section.setup" /></h2>
    <br>
    <div class="table-fit">
        <table id="db-rector_setup-check" class="table table-striped table-hover">
            <tr role="row">
                <th scope="row"><f:translate key="{l10n}setup.typo3" /></th>
                <td>{setup.typo3version}</td>
            </tr>
            <tr role="row"{f:if(condition:'{setup.typo3context} != "Development"', then:' class="danger"')}>
                <th scope="row"><f:translate key="{l10n}setup.typo3context" /></th>
                <td>{setup.typo3context}</td>
            </tr>
            <tr role="row"{f:if(condition:setup.ignoreTypo3context, then:' class="danger"')}>
                <th scope="row"><f:translate key="{l10n}setup.ignoreTypo3context" /></th>
            <td><f:translate key="{l10n}general.{f:if(condition:setup.ignoreTypo3context, then:'yes', else:'no')}" /></td>
            </tr>
            <tr role="row"{f:if(condition:'!{setup.composer}', then:' class="danger"')}>
                <th scope="row"><f:translate key="{l10n}setup.composer" /></th>
                <td><f:translate key="{l10n}general.{f:if(condition:setup.composer, then:'yes', else:'no')}" /></td>
            </tr>
            <tr role="row"{f:if(condition:'!{setup.fractorVersion}', then:' class="danger"')}>
                <th scope="row"><f:translate key="{l10n}setup.fractor" /></th>
                <td>
                    <f:if condition="{setup.fractorVersion}">
                        <f:then>
                            {setup.fractorVersion}
                        </f:then>
                        <f:else>
                            <f:translate key="{l10n}no-fractor" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr role="row">
                <th scope="row"><f:translate key="{l10n}setup.php" /></th>
                <td>{setup.phpVersion}</td>
            </tr>
            <tr role="row"{f:if(condition:'!{setup.shellExec}', then:' class="danger"')}>
                <th scope="row"><f:translate key="{l10n}setup.shell-exec" /></th>
                <td><f:translate key="{l10n}general.{f:if(condition:setup.shellExec, then:'yes', else:'no')}" /></td>
            </tr>
        </table>
    </div>
</f:section>

</html>
