<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

' => $this->typo3Version,
            '' => Environment::getContext(),
            '' => Environment::isComposerMode(),
            '' => $this->rectorService->getVersion(),
            '

<f:section name="Content">
    <h2><f:translate key="{l10n}section.setup" /></h2>
    <br>
    <div class="table-fit">
        <table id="db-rector_setup-check" class="table table-striped table-hover">
            <tr role="row">
                <th scope="row">
                    TYPO3
                </th>
                <td>
                    {setup.typo3version}
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    TYPO3-Kontext
                </th>
                <td>
                    {setup.context}
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    Composer
                </th>
                <td>
                    <f:translate key="{l10n}.general.{setup.composer}" />
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    Rector
                </th>
                <td>
                    <f:if condition="{setup.rectorVersion}">
                        <f:then>
                                        {setup.rectorVersion}
                        </f:then>
                        <f:else>
                            <f:translate key="{l10n}.no-rector" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr role="row">
                <th scope="row">
                    PHP
                </th>
                <td>
                    {setup.phpVersion}
                </td>
            </tr>
        </table>
    </div>
</f:section>

</html>