.db-rector {
    // INDEX
    &__processing {
        position:absolute;
        top: 0;
        left: 0;
        display:none;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        z-index:1;
        background-color:rgba(255,255,255,0.666);
    }

    &__legends {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__legend {
        display: inline-block;
        width:15px;
        height: 15px;
        margin-right:5px;

        &--info {
            background-color: #e3ecf4;
        }

        &--success {
            background-color: #d6e5d6;
        }
    }

    &__code {
        color: black;

        del {
            color: red;
            text-decoration: none;
        }

        ins {
            color: green;
        }
    }

    &__textarea {
        width: 100%;
        min-height: 250px;
        border: none;
    }

    // Accordion
    &__accordion {
        box-shadow: var(--panel-box-shadow);
        border-radius: var(--panel-border-radius);
        border: var(--panel-border-width) solid var(--panel-default-border-color);
        margin-top: calc(var(--typo3-spacing) * 1.5);

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--panel-default-heading-bg);
            padding: var(--panel-header-padding-y) var(--panel-header-padding-x);
        }

        &__collapse {
            &[aria-expanded="false"] {
                .icon-markup {
                    transform: rotate(180deg);
                }
            }
        }

        &__header-title {
            font-weight: 700;
        }

        &__body {
            padding: var(--panel-header-padding-y) var(--panel-header-padding-x);
            border-top: 1px solid #ccc;
        }
    }
}